@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #FBF9F5;
    color: #2b2b2b;
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    background-color: #111827;
    color: #f3f4f6;
}

@theme{
    --color-primary: #064490;
    --color-primary-hover: #0A5FC0;
    --color-secondary: #F4A261;
    --color-secondary-hover: #E7EBF0;
    --color-red: #F44336;
    --color-yellow: #FDC700;
    --color-black: #000000;
    --color-black-hover: #3b444b;
    --color-active: #eef6ff;
    
    --color-white-primary: #FBF9F5;
    --color-green-primary: #519755;
    --color-black-primary: #2b2b2b;
    --color-icon: #428546;
    --color-green-secondary: #a8dcab;
}


[data-aos], .aos-init {
    opacity: 1 !important;
    display: block !important;
    visibility: visible !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-green-secondary);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }

  .dangerous-html ol {
    padding-left: 1.5rem;
    list-style: decimal;
  }
  .dangerous-html ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  .dangerous-html li {
    margin-bottom: 0.5rem;
  }